Repository alliedmodders/amxmodx, pull requests merged in 2018-09, with the labels that each got.

#538 Fix a windows compilation warning in socket module
  modules/sockets/sockets.cpp
Labels: module: socket

#541 Fix typo in fun documentation
  plugins/include/fun.inc
Labels: module: fun, typo

#537 Don't reset m_iMenu if player is not fully joined
  amxmodx/amxmodx.cpp
  amxmodx/newmenus.cpp
Labels: core

#536 Remove GetModelCollisionBox, SetModelCollisionBox and SetModelBoundingBox natives
  modules/fakemeta/misc.cpp
  plugins/include/fakemeta.inc
Labels: module: fakemeta

#546 Compiler: Add __FILE__ and remove __BINARY_PATH__ constants
  compiler/libpc300/sc.h
  compiler/libpc300/sc1.c
  compiler/libpc300/sc2.c
Labels: compiler, enhancement

#452 Update Hamsandwich for Sven Coop 5.17
  configs/hamdata.ini
  modules/hamsandwich/amxx_api.cpp
  modules/hamsandwich/call_funcs.cpp
  modules/hamsandwich/call_funcs.h
  modules/hamsandwich/ham_const.h
  modules/hamsandwich/ham_utils.h
  modules/hamsandwich/hook_callbacks.cpp
  modules/hamsandwich/hook_callbacks.h
  modules/hamsandwich/hook_create.cpp
  modules/hamsandwich/hook_create.h
  modules/hamsandwich/hook_native.cpp
  modules/hamsandwich/hooklist.h
  plugins/include/ham_const.inc
Labels: enhancement, module: hamsandwich

#548 Add cs_get_weaponbox_item native
  modules/cstrike/cstrike/CstrikeNatives.cpp
  plugins/include/cstrike.inc
Labels: enhancement, module: cstrike

#554 Revert "Fun: Make TraceLine a post forward"
  modules/fun/fun.cpp
  modules/fun/moduleconfig.h
Labels: module: fun, regression

#550 Fix vault.inc documentation
  plugins/include/vault.inc
Labels: documentation

#559 Fix admin chat displaying the wrong language
  plugins/adminchat.sma
Labels: enhancement, plugin

#582 Compiler: Fix an issue related to passing arrays based on an enumeration to a function
  compiler/libpc300/sc3.c
Labels: bug, compiler

#587 Fix typo in json_object_get_value_at documentation
  plugins/include/json.inc
Labels: documentation, typo

#592 Fix invalid handle passed in the SMC/INI parser callbacks
  amxmodx/textparse.cpp
Labels: bug, core

#573 Additions to hlsdk_const and cstrike_const
  plugins/include/cstrike_const.inc
  plugins/include/hlsdk_const.inc
Labels: documentation, enhancement

#588 GeoIP: Add "reload" command
  modules/geoip/geoip_main.cpp
Labels: enhancement, module: geoip

#598 Updated Russian ML translations
  plugins/lang/adminchat.txt
  plugins/lang/admincmd.txt
  plugins/lang/adminhelp.txt
  plugins/lang/adminslots.txt
  plugins/lang/adminvote.txt
  plugins/lang/imessage.txt
  plugins/lang/miscstats.txt
  plugins/lang/multilingual.txt
  plugins/lang/pausecfg.txt
  plugins/lang/restmenu.txt
  plugins/lang/statsx.txt
  plugins/lang/timeleft.txt
Labels: enhancement, translation

#604 Add constants for get_user_origin()
  plugins/include/amxconst.inc
  plugins/include/amxmodx.inc
  plugins/include/engine_stocks.inc
  plugins/include/fakemeta_util.inc
Labels: documentation, enhancement, plugin

#605 Fixed a typo in get_user_flags description
  plugins/include/amxmodx.inc
Labels: documentation, typo

#601 Fix a crash with set_tr/2 when -1 is passed in TR_pHit
  modules/fakemeta/fm_tr.cpp
  modules/fakemeta/fm_tr2.cpp
Labels: enhancement, module: fakemeta, regression

#566 Add constants for max IP and SteamID length
  plugins/include/amxconst.inc
Labels: documentation, enhancement, plugin

#593 Implement menu_create "ml" param to allow menu title/item to be looked up as multilingual key
  amxmodx/msvc12/amxmodx_mm.vcxproj
  amxmodx/msvc12/amxmodx_mm.vcxproj.filters
  amxmodx/newmenus.cpp
  amxmodx/newmenus.h
  plugins/include/newmenus.inc
Labels: core, enhancement

#597 Move hamdata.ini to gamedata
  amxmodx/CGameConfigs.cpp
  configs/hamdata.ini
  gamedata/common.games/master.games.txt
  gamedata/common.games/virtual.games/ag/offsets-common.txt
  gamedata/common.games/virtual.games/cstrike/offsets-common.txt
  gamedata/common.games/virtual.games/dod/offsets-common.txt
  gamedata/common.games/virtual.games/esf/offsets-common.txt
  gamedata/common.games/virtual.games/esf_openbeta/offsets-common.txt
  gamedata/common.games/virtual.games/gearbox/offsets-common.txt
  gamedata/common.games/virtual.games/ns/offsets-common.txt
  gamedata/common.games/virtual.games/svencoop/offsets-common.txt
  gamedata/common.games/virtual.games/tfc/offsets-common.txt
  gamedata/common.games/virtual.games/ts/offsets-common.txt
  gamedata/common.games/virtual.games/valve/offsets-common.txt
  installer/amxmodx-installer.nsi
  modules/hamsandwich/config_parser.cpp
  modules/hamsandwich/ham_const.h
  modules/hamsandwich/ham_utils.h
  plugins/include/ham_const.inc
  plugins/include/hamsandwich.inc
  support/PackageScript
Labels: enhancement, module: hamsandwich
