Repository alliedmodders/amxmodx, pull requests merged in 2018-11, with the labels that each got.

#627 Port bugfix for incorrect heap deallocation on conditional operator
  compiler/libpc300/sc.h
  compiler/libpc300/sc1.c
  compiler/libpc300/sc3.c
  compiler/libpc300/sclist.c
Labels: bug, compiler

#637 Fix a navigation bug in Plugin Cvars menu
  plugins/pluginmenu.sma
Labels: bug, plugin

#636 Fix again a menu regression (behavior change) due to typos in #471
  amxmodx/amxmodx.cpp
Labels: core, regression, typo
