Repository alliedmodders/amxmodx, pull requests merged in 2018-10, with the labels that each got.

#611 CS Miscstats: Fix enemy remaining option displaying the message to the wrong team
  plugins/cstrike/miscstats.sma
  plugins/lang/miscstats.txt
Labels: plugin, regression

#620 Major Update to german translation
  plugins/lang/adminchat.txt
  plugins/lang/admincmd.txt
  plugins/lang/adminhelp.txt
  plugins/lang/adminvote.txt
  plugins/lang/cmdmenu.txt
  plugins/lang/common.txt
  plugins/lang/mapchooser.txt
  plugins/lang/mapsmenu.txt
  plugins/lang/menufront.txt
  plugins/lang/miscstats.txt
  plugins/lang/multilingual.txt
  plugins/lang/nextmap.txt
  plugins/lang/pausecfg.txt
  plugins/lang/plmenu.txt
  plugins/lang/restmenu.txt
  plugins/lang/scrollmsg.txt
  plugins/lang/stats_dod.txt
  plugins/lang/statscfg.txt
  plugins/lang/statsx.txt
  plugins/lang/telemenu.txt
  plugins/lang/timeleft.txt
Labels: enhancement, translation

#584 Compiler: Increase the maximum number of array dimension
  compiler/libpc300/sc.h
  compiler/libpc300/sc1.c
Labels: compiler, enhancement

#610 Make UTF-8 safe others strings natives
  amxmodx/string.cpp
Labels: compatibility, core

#615 Compiler: Fix undefined symbol: pow10
  compiler/libpc300/sc2.c
Labels: compiler
