Repository alliedmodders/amxmodx, pull requests merged in 2018-08, with the labels that each got.

#513 Fix wrong message type information for engclient_print in amxmodx.inc
  plugins/include/amxmodx.inc
Labels: documentation, enhancement

#511 Add default values for menu_item_getinfo's arguments
  plugins/include/newmenus.inc
Labels: enhancement, plugin

#516 allow arrayset to accept any type
  plugins/include/amxmodx.inc
Labels: core, enhancement

#512 Execute amxx.cfg before plugin_init to keep compatibility after #266
  amxmodx/meta_api.cpp
Labels: compatibility, core

#510 Improve messages.inc and message_stocks.inc documentation
  plugins/include/message_stocks.inc
  plugins/include/messages.inc
Labels: documentation, enhancement

#506 Add @note in get_user_msgid()
  plugins/include/amxmodx.inc
Labels: documentation

#509 Add constants for stats functions
  modules/cstrike/csx/msvc12/csx.vcxproj
  modules/cstrike/csx/msvc12/csx.vcxproj.filters
  plugins/include/amxconst.inc
  plugins/include/csstats.inc
  plugins/include/csstats_const.inc
  plugins/include/dodconst.inc
  plugins/include/dodstats.inc
  plugins/include/tfcstats.inc
  plugins/include/tsstats.inc
  support/PackageScript
Labels: documentation, enhancement, plugin

#481 Build assembly files with AMBuild.
  .gitignore
  .travis.yml
  AMBuildScript
  amxmodx/AMBuilder
  amxmodx/JIT/amxexecn-darwin.o
  amxmodx/JIT/amxexecn.o
  amxmodx/JIT/amxexecn.obj
  amxmodx/JIT/amxjitsn-darwin.o
  amxmodx/JIT/amxjitsn.o
  amxmodx/JIT/amxjitsn.obj
  amxmodx/JIT/helpers-darwin-x86.o
  amxmodx/JIT/helpers-x86.o
  amxmodx/JIT/helpers-x86.obj
  amxmodx/JIT/natives-amd64.o
  amxmodx/JIT/natives-darwin-x86.o
  amxmodx/JIT/natives-x86.o
  amxmodx/JIT/natives-x86.obj
  amxmodx/msvc12/amxmodx_mm.vcxproj
  appveyor.yml
  configure.py
  support/checkout-deps.sh
Labels: ambuild, assembly, enhancement

#524 Add GeoIP data update to the automatic build system
  support/buildbot/package.pl
Labels: ambuild

#526 Update libmaxminddb to v1.3.2
  modules/geoip/AMBuilder
  modules/geoip/msvc12/geoip.vcxproj
  modules/geoip/msvc12/geoip.vcxproj.filters
  third_party/libmaxminddb/data-pool.c
  third_party/libmaxminddb/data-pool.h
  third_party/libmaxminddb/maxminddb.c
  third_party/libmaxminddb/maxminddb.h
Labels: module: geoip

#527 Update Zlib to v1.2.11
  third_party/zlib/AMBuilder
  third_party/zlib/adler32.c
  third_party/zlib/compress.c
  third_party/zlib/crc32.c
  third_party/zlib/deflate.c
  third_party/zlib/deflate.h
  third_party/zlib/gzguts.h
  third_party/zlib/gzlib.c
  third_party/zlib/gzread.c
  third_party/zlib/gzwrite.c
  third_party/zlib/infback.c
  third_party/zlib/inffast.c
  third_party/zlib/inflate.c
  third_party/zlib/inflate.h
  third_party/zlib/inftrees.c
  third_party/zlib/trees.c
  third_party/zlib/uncompr.c
  third_party/zlib/zconf.h
  third_party/zlib/zlib.h
  third_party/zlib/zutil.c
  third_party/zlib/zutil.h
Labels: core

#522 Add stat constants in plugins
  plugins/cstrike/csstats.sma
  plugins/cstrike/stats_logging.sma
  plugins/cstrike/statsx.sma
  plugins/dod/dodstats.sma
  plugins/dod/stats.sma
  plugins/dod/stats_logging.sma
  plugins/tfc/stats.sma
  plugins/tfc/stats_logging.sma
  plugins/tfc/tfcstats.sma
  plugins/ts/stats.sma
  plugins/ts/stats_logging.sma
  plugins/ts/tsstats.sma
Labels: enhancement, plugin

#517 Add get_playersnum_ex
  plugins/include/amxmisc.inc
Labels: enhancement, plugin

#530 Sanitize load_amxscript() and add load_amxscript_ex/MF_LoadAmxScriptEx() requiring error max length
  amxmodx/CPlugin.cpp
  amxmodx/CPlugin.h
  amxmodx/amxmodx.h
  amxmodx/modules.cpp
  modules/cstrike/csx/CRank.cpp
  modules/cstrike/csx/CRank.h
  modules/cstrike/csx/meta_api.cpp
  modules/dod/dodx/CRank.cpp
  modules/dod/dodx/CRank.h
  modules/dod/dodx/moduleconfig.cpp
  modules/tfcx/CRank.cpp
  modules/tfcx/CRank.h
  modules/tfcx/moduleconfig.cpp
  modules/ts/tsx/CRank.cpp
  modules/ts/tsx/CRank.h
  modules/ts/tsx/moduleconfig.cpp
  public/sdk/amxxmodule.cpp
  public/sdk/amxxmodule.h
Labels: core, module: csx, module: dodx, module: tfcx

#421 Update Fun module
  modules/fun/fun.cpp
  modules/fun/fun.h
  modules/fun/moduleconfig.h
  plugins/include/fun.inc
Labels: enhancement, module: fun

#532 Make the "body" param in get_user_aiming() optional
  plugins/include/amxmodx.inc
Labels: documentation, enhancement, plugin
