Repository alliedmodders/amxmodx, pull requests merged in 2019-05, with the labels that each got.

#718 String changes for missing path exception messages
  AMBuildScript
Labels: ambuild, typo

#721 Bump ReHLDS API version to 3.6
  public/resdk/engine/rehlds_api.h
Labels: ReSDK

#719 Hungarian language update
  plugins/lang/adminchat.txt
  plugins/lang/admincmd.txt
  plugins/lang/adminhelp.txt
  plugins/lang/adminvote.txt
  plugins/lang/common.txt
  plugins/lang/menufront.txt
  plugins/lang/miscstats.txt
  plugins/lang/plmenu.txt
  plugins/lang/restmenu.txt
  plugins/lang/stats_dod.txt
  plugins/lang/statscfg.txt
  plugins/lang/statsx.txt
  plugins/lang/telemenu.txt
Labels: translation
