Repository alliedmodders/amxmodx, pull requests merged in 2021-08, with the labels that each got.

#977 Change default chat time to 0.0 (Fixes #975)
  plugins/nextmap.sma
Labels: regression, plugin

#957 Fix incorrect uses of feof()
  plugins/admin.sma
  plugins/cmdmenu.sma
  plugins/cstrike/miscstats.sma
  plugins/cstrike/restmenu.sma
  plugins/mapchooser.sma
  plugins/mapsmenu.sma
Labels: plugin

#951 Fix typo in admincmd.txt
  plugins/lang/admincmd.txt
Labels: translation, plugin

#942 Fix newmenus.inc documentation
  plugins/include/newmenus.inc
Labels: enhancement, documentation
